<table class="table table-hover">
    <thead>
        <tr>
            <td>id</td>
            <td>author</td>
            <td>author</td>
            <td>price</td>
            <td>releasedate</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Book of books">
            <td>{{ Book.id }}</td>
            <td>{{ Book.author }}</td>
            <td>{{ Book.price }}</td>
            <td>{{ Book.releasedate }}</td> 
            <td>{{ Book.title }}</td> 

            <td><a  routerLink =" /dashboard/books" routerLinkActive="active"  (click) = "deleteBook(Book.id)" class="btn btn-danger">Delete</a></td>

           

        </tr>
    </tbody>

</table>




